*{
    padding: 0;
    margin: 0;
  }

  .carousel-parent{
    position: relative;
  }

  .carousel-child{
    position: absolute;
    bottom: 15px;
    right: -10px
  }

  .hero-caption{
    color: aliceblue;
    
  }
  